.nav-item .nav-link {
    font-size: large;
    font-weight: bold;
}

.navbar-brand {
    font-size: larger;
    font-weight: bolder;
}

.info,
.flex {
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

.cases,
.active-cases,
.deaths,
.recovered {
    padding-top: 7px;
    color: white;
    height: 100px;
    width: 300px;
    margin: 0 50px 0 50px;
    border-radius: 10px;
}

.cases {
    background: rgb(192, 192, 23);
}

.recovered {
    background: green;
}

.deaths {
    background: red;
}

.active-cases {
    background: brown;
}

@media only screen and (max-width: 800px) {
    .info,
    .flex {
        display: grid;
        justify-content: center;
        padding-top: 10px;
    }
    .cases,
    .active-cases,
    .deaths,
    .recovered {
        margin-bottom: 20px;
        height: 90px;
        width: 300px;
        border-radius: 10px;
    }
}